@font-face {
    src: url("/fonts/Glametrix.otf");
}
.background{
    -fx-background-color: "Black";
}
.word-text{
    -fx-font-family: "Glametrix";
    -fx-text-fill: "white";
    -fx-font-size: 40pt;
}